<ul>
    <!-- <li><a class="active" routerLink="./home">Home</a></li> -->
    <li><a class="li a" routerLink="./profile" style="margin-left: 450px;">Profile</a></li>
    <li><a class="li a" routerLink="./user">Add-User</a></li>
    <li><a class="li a" routerLink="./userdata">UserData</a></li>
    <li><a class="li a" routerLink="./audio">Add-Audio</a></li>

    <li><a class="li aa" (click)="onLogout()" routerLink="" style="margin-left:px;">Logout</a></li>
  </ul>
  
<router-outlet></router-outlet>
  

  