<div class="row justify-content-center mt-2">
    <div class="col-md-5" style="border:1px solid blue;border-radius:5px">
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" required>
            </div>

            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" formControlName="price" required>
            </div>
            
            <div class="form-group">
                <label for="name">quantity</label>
                <input type="text" class="form-control"placeholder="Book quantity" formControlName="quantity"required>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control"  formControlName="description" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>