form-group{
    color: black;
    font-weight: bolder;
    font-style:italic;
    margin-top: 80px;
  }
  .card{
    margin-top: 70px;
    padding: 30px;
    border-radius: 30px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
  }
  .rs{
    padding-left: 185px;
    color: black;
    height: 30px;
    font-style: bold;
    font-weight: 800;
    text-decoration: underline;
  }
  .body{
    height: 575px;
    
     background-image: url('https://thumbs.dreamstime.com/b/live-music-instruments-rehearsal-studio-48135358.jpg');
   }