form-group{
    color: black;
    font-weight:bolder;
    font-style: bold;
    margin-top: 80px;
    
  }
  .card{
    margin-top: 90px;
    padding: 30px;
    border-radius: 30px;
    /* color: rgb(87, 40, 18);  */
    /* font-family: 'Courier New', Courier, monospace; */
    opacity: 0.9;
    color: rgb(161, 130, 117);
    font-weight:bolder;
    font-style: bold;
    background-color: rgb(13, 52, 82);
  }
  .rs{
    padding-left: 185px;
    /* text-decoration-color: black; */
    color: rgb(161, 130, 117);
    height: 30px;
    font-style: bold;
    font-weight: 900;
    text-decoration: underline;
  }
  .body{
   height: 575px;
   
    background-image: url('https://thumbs.dreamstime.com/b/live-music-instruments-rehearsal-studio-48135358.jpg');
  }