<div class="grid">
  <div class="col-12">
    <div class="card" >
      <!-- <button mat-button routerLink="/profile"  style="width: 150px;" color="primary">Add new profile</button>  -->
      <mat-divider></mat-divider><br>
      <table class="table">
        <thead>
          <tr>
            <th>Sno.</th>
            <th class="col" scope="col">Id</th>
            <th class="col" scope="col">Name</th>
            <th class="col" scope="col">Description</th>
            <th class="col" scope="col" style="padding-left: 120px;">Audio</th>
            <th class="col" scope="col">Edit</th>
            <th class="col" scope="col">Delete</th>
          </tr>
        </thead>
        <ng-container *ngFor="let data of data;let i=index">
          <tbody>
            <tr>
              <th class="col" scope="col">{{(i+1)}}</th>
              <th class="col" scope="col">{{data._id}}</th>
              <th class="col" scope="col">{{data.name}}</th>
              <th class="col" scope="col">{{data.description}}</th>
              <th class="col"  scope="col"><audio controls style="width: 250px;">
                <source [src]="data.audioplayer_path" type="audio/mpeg" >
              </audio></th>


              <td><button mat-button mat-icon-button color="edit" routerLink="/main/audioupdate/{{data._id}}">
                  <mat-icon>edit</mat-icon></button></td>
              <td><button mat-button mat-icon-button color="warn" (click)="del(data._id,1)">
                  <mat-icon>delete</mat-icon></button></td>
            </tr>
          </tbody>
        </ng-container>
      </table>
      <br>