<div class="grid">
    <div class="col-12">
        <div class="card">
          <!-- <button mat-button routerLink="/profile"  style="width: 150px;" color="primary">Add new profile</button>  -->
          <mat-divider></mat-divider><br>
          <table  class="table" >
            <thead>
            <tr>
              <th >Sno.</th>
              <th   scope="col" >Id</th>
              <th   scope="col" >Name</th>
              <th   scope="col" >Description</th>
              <th   scope="col" >Image</th>
              <th   scope="col" >Edit</th>
              <th   scope="col" >Delete</th>
            </tr>
          </thead>
          <ng-container *ngFor="let data of data;let i=index">
          <tbody>
            <tr>
              <th   scope="col">{{(i+1)}}</th>
              <th scope="col">{{data._id}}</th>
              <th  scope="col">{{data.name}}</th>
              <th  scope="col">{{data.description}}</th>
              <th   scope="col"><img [src]="data.image" alt=""></th>
            

              <td><button mat-button mat-icon-button color="edit" routerLink="/main/audioupdate/{{data._id}}"> <mat-icon>edit</mat-icon></button></td>         
              <td><button mat-button mat-icon-button color="warn" (click)="del(data._id,1)"  > <mat-icon>delete</mat-icon></button></td>  
            </tr>       
          </tbody>
        </ng-container>
          </table>
          <br>